[phases.setup]
nixPkgs = ["php82", "php82Packages.composer"]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader"
]

[phases.build]
cmds = [
  "php artisan view:cache || true"
]

[start]
cmd = "php artisan config:cache --no-interaction && (php artisan migrate --force --no-interaction || true) && (php artisan db:seed --force --no-interaction || true) && php artisan serve --host=0.0.0.0 --port=$PORT"
